@mixin mask-image($img, $repeat: no-repeat){
  @include experimental(mask-image, image-url($img), -webkit, -moz, -o, -ms);
  @include experimental(mask-repeat, $repeat, -webkit, -moz, -o, -ms);
  width: image-width($img);
  height: image-height($img);
}

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@function text-color($color, $dark: dark, $light: light){
  $text-color: ( (red($color)*299) + (green($color)*587) + (blue($color)*114) ) / 1000;
  $text-color: if($text-color >= 150, $dark, $light);
  @return $text-color;
}

.embed-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 10px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
