.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  table td.code { width: 100%; }
  .line-data {
    width:100%;
  }
  .line-numbers {
    width:1em;
    text-align: right;
    font-size: 13px;
    line-height: 1.45em;
    background: $base02 $noise-bg !important;
    border-right: 1px solid darken($base03, 2) !important;
    @include box-shadow(lighten($base02, 2) -1px 0 inset);
    text-shadow: darken($base02, 10) 0 -1px;
    span { color: $base01 !important; }
    padding: .8em !important;
    @include border-radius(0);
  }
  border: 1px solid $pre-border !important;
}
figure.code, .gist-file, pre {
  @include box-shadow(rgba(#000, .06) 0 0 10px);
  .highlight pre { @include box-shadow(none); }
}

html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: image-height("code_bg.png") !important;
  .gist-syntax {
    padding: 0 !important;
    border-bottom: 0 !important;
    background: none !important;
    .gist-highlight{
      background: $base03 !important;
      pre {
        @extend .pre-code;
      }
    }
  }
  .gist-meta {
   padding: .6em 0.8em;
   border: 1px solid lighten($base02, 2) !important;
   color: $base01;
   font-size: .7em !important;
   background: $base02 $noise-bg;
   @extend .sans;
   line-height: 1.5em;
    a {
      color: mix($base1, $base01) !important;
      @include hover-link;
      &:hover { color: $base1 !important; }
    }
    a[href*='#file'] {
      position: absolute; top: 0; left:0; right:0px;
      color: #474747 !important;
      @extend .code-title;
      &:hover { color: $link-color !important; }
    }
    a[href*=raw]{
      @extend .download-source;
      top: .4em;
    }
  }
}
pre {
  background: $pre-bg $noise-bg;
  @include border-radius(.4em);
  @extend .mono;
  border: 1px solid $pre-border;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: $pre-color;
  overflow: auto;
}
h3.filename {
  @extend .code-title;
  + pre { @include border-top-radius(0px); }
}

p, li {
  code {
    @extend .mono;
    display: inline-block;
    white-space: no-wrap;
    background: #fff;
    font-size: .8em;
    line-height: 1.5em;
    color: #555;
    border: 1px solid #ddd;
    @include border-radius(.4em);
    padding: 0 .3em;
    margin: -1px 0;
  }
  pre code { font-size: 1em !important; background: none; border: none; }
}

.pre-code .gist-syntax {
  @include selection(adjust-color($base03, $lightness: 23%, $saturation: -65%), $text-shadow: $base03 0 1px);
  font-family: $mono !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: $base03 $noise-bg !important;
  // color: $base1 !important;
  // span { color: $base1 !important; }
  span { font-style: normal !important; font-weight: normal !important; }

  .c      { color: $comment !important; font-style: italic !important; }                     /* Comment */
  .cm     { color: $comment !important; font-style: italic !important; }                     /* Comment.Multiline */
  .cp     { color: $comment !important; font-style: italic !important;  }                     /* Comment.Preproc */
  .c1     { color: $comment !important; font-style: italic !important; }                     /* Comment.Single */
  .cs     { color: $comment !important; font-weight: bold !important; font-style: italic !important; }   /* Comment.Special */

  .err    { color: $err !important; background: $err_bg !important; }                                            /* Error */
  .k      { color: $keyword !important; }                       /* Keyword */

  .o      { color: $operator !important; font-weight: bold !important; }                       /* Operaitor */
  .p      { color: $punctuation !important; }                                             /* Operator */
  .ow     { color: $solar-cyan !important; font-weight: bold !important; }                       /* Operator.Word */
  .gd     { color: $base1 !important; background-color: mix($solar-red, $base03, 25%) !important; display: inline-block; }               /* Generic.Deleted */
  .gd .x  { color: $base1 !important; background-color: mix($solar-red, $base03, 35%) !important; display: inline-block; }               /* Generic.Deleted.Specific */
  .ge     { color: $base1 !important; font-style: italic !important; }                      /* Generic.Emph */
  //.gr     { color: #aa0000 }                                          /* Generic.Error */
  .gh     { color: $base01 !important; }                                          /* Generic.Heading */
  .gi     { color: $base1 !important; background-color: mix($solar-green, $base03, 20%) !important; display: inline-block; }               /* Generic.Inserted */
  .gi .x  { color: $base1 !important; background-color: mix($solar-green, $base03, 40%) !important; display: inline-block; }               /* Generic.Inserted.Specific */
  //.go     { color: #888888 }                                          /* Generic.Output */
  //.gp     { color: #555555 }                                          /* Generic.Prompt */
  .gs     { color: $base1 !important; font-weight: bold !important; }                                       /* Generic.Strong */
  .gu     { color: $solar-violet !important; }                                          /* Generic.Subheading */
  //.gt     { color: #aa0000 }                                          /* Generic.Traceback */
  .kc     { color: $constant !important; font-weight: bold !important; }                       /* Keyword.Constant */
  .kd     { color: $js_keyword !important; }                       /* Keyword.Declaration */
  .kp     { color: $solar-orange !important; font-weight: bold !important; }                       /* Keyword.Pseudo */
  .kr     { color: $solar-magenta !important; font-weight: bold !important; }                       /* Keyword.Reserved */
  .kt     { color: $name_attribute !important; }                       /* Keyword.Type */
  .n      { color: $name !important; }
  .na     { color: $name_attribute !important; }                                          /* Name.Attribute */
  .nb     { color: $name_attribute !important; }                                          /* Name.Builtin */
  .nc     { color: $name_class !important;}                                                   /* Name.Class */
  .no     { color: $name_constant !important; }                                          /* Name.Constant */
  //.ni     { color: #800080 }                                          /* Name.Entity */
  .nl     { color: $solar-green !important; }
  .ne     { color: $name_exception !important; font-weight: bold !important; }                       /* Name.Exception */
  .nf     { color: $name_function !important; font-weight: bold !important; }                       /* Name.Function */
  .nn     { color: $solar-yellow !important; }                                          /* Name.Namespace */
  .nt     { color: $name_tag !important; font-weight: bold !important; }                                          /* Name.Tag */
  .nx     { color: $name_other !Important; }
  //.bp     { color: #999999 }                                          /* Name.Builtin.Pseudo */
  //.vc     { color: #008080 }                                          /* Name.Variable.Class */
  .vg     { color: $solar-blue !important; }                                          /* Name.Variable.Global */
  .vi     { color: $solar-blue !important; }                                          /* Name.Variable.Instance */
  .nv     { color: $name !important; }                                          /* Name.Variable */
  //.w      { color: #bbbbbb }                                          /* Text.Whitespace */
  .mf     { color: $number !important; }                                          /* Literal.Number.Float */
  .m      { color: $number !important; }                                          /* Literal.Number */
  .mh     { color: $number !important; }                                          /* Literal.Number.Hex */
  .mi     { color: $number !important; }                                          /* Literal.Number.Integer */
  //.mo     { color: #009999 }                                          /* Literal.Number.Oct */
  .s      { color: $string !important; }                                             /* Literal.String */
  //.sb     { color: #d14 }                                             /* Literal.String.Backtick */
  //.sc     { color: #d14 }                                             /* Literal.String.Char */
  .sd     { color: $solar-cyan !important; }                                             /* Literal.String.Doc */
  .s2     { color: $solar-cyan !important; }                                             /* Literal.String.Double */
  .se     { color: $string_escape !important; }                                             /* Literal.String.Escape */
  //.sh     { color: #d14 }                                             /* Literal.String.Heredoc */
  .si     { color: $solar-blue !important; }                                             /* Literal.String.Interpol */
  //.sx     { color: #d14 }                                             /* Literal.String.Other */
  .sr     { color: $solar-cyan !important; }                                          /* Literal.String.Regex */
  .s1     { color: $solar-cyan !important; }                                             /* Literal.String.Single */
  //.ss     { color: #990073 }                                          /* Literal.String.Symbol */
  //.il     { color: #009999 }                                          /* Literal.Number.Integer.Long */
  div { .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }}
}

.gist-syntax {
  @include selection(adjust-color($base03, $lightness: 23%, $saturation: -65%), $text-shadow: $base03 0 1px);
  font-family: $mono !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: $base03 $noise-bg !important;
  // color: $base1 !important;
  // span { color: $base1 !important; }
  span { font-style: normal !important; font-weight: normal !important; }

  .c      { color: $comment !important; font-style: italic !important; }                     /* Comment */
  .cm     { color: $comment !important; font-style: italic !important; }                     /* Comment.Multiline */
  .cp     { color: $comment !important; font-style: italic !important;  }                     /* Comment.Preproc */
  .c1     { color: $comment !important; font-style: italic !important; }                     /* Comment.Single */
  .cs     { color: $comment !important; font-weight: bold !important; font-style: italic !important; }   /* Comment.Special */

  .err    { color: $err !important; background: $err_bg !important; }                                            /* Error */
  .k      { color: $keyword !important; }                       /* Keyword */

  .o      { color: $operator !important; font-weight: bold !important; }                       /* Operaitor */
  .p      { color: $punctuation !important; }                                             /* Operator */
  .ow     { color: $solar-cyan !important; font-weight: bold !important; }                       /* Operator.Word */
  .gd     { color: $base1 !important; background-color: mix($solar-red, $base03, 25%) !important; display: inline-block; }               /* Generic.Deleted */
  .gd .x  { color: $base1 !important; background-color: mix($solar-red, $base03, 35%) !important; display: inline-block; }               /* Generic.Deleted.Specific */
  .ge     { color: $base1 !important; font-style: italic !important; }                      /* Generic.Emph */
  //.gr     { color: #aa0000 }                                          /* Generic.Error */
  .gh     { color: $base01 !important; }                                          /* Generic.Heading */
  .gi     { color: $base1 !important; background-color: mix($solar-green, $base03, 20%) !important; display: inline-block; }               /* Generic.Inserted */
  .gi .x  { color: $base1 !important; background-color: mix($solar-green, $base03, 40%) !important; display: inline-block; }               /* Generic.Inserted.Specific */
  //.go     { color: #888888 }                                          /* Generic.Output */
  //.gp     { color: #555555 }                                          /* Generic.Prompt */
  .gs     { color: $base1 !important; font-weight: bold !important; }                                       /* Generic.Strong */
  .gu     { color: $solar-violet !important; }                                          /* Generic.Subheading */
  //.gt     { color: #aa0000 }                                          /* Generic.Traceback */
  .kc     { color: $constant !important; font-weight: bold !important; }                       /* Keyword.Constant */
  .kd     { color: $js_keyword !important; }                       /* Keyword.Declaration */
  .kp     { color: $solar-orange !important; font-weight: bold !important; }                       /* Keyword.Pseudo */
  .kr     { color: $solar-magenta !important; font-weight: bold !important; }                       /* Keyword.Reserved */
  .kt     { color: $name_attribute !important; }                       /* Keyword.Type */
  .n      { color: $name !important; }
  .na     { color: $name_attribute !important; }                                          /* Name.Attribute */
  .nb     { color: $name_attribute !important; }                                          /* Name.Builtin */
  .nc     { color: $name_class !important;}                                                   /* Name.Class */
  .no     { color: $name_constant !important; }                                          /* Name.Constant */
  //.ni     { color: #800080 }                                          /* Name.Entity */
  .nl     { color: $solar-green !important; }
  .ne     { color: $name_exception !important; font-weight: bold !important; }                       /* Name.Exception */
  .nf     { color: $name_function !important; font-weight: bold !important; }                       /* Name.Function */
  .nn     { color: $solar-yellow !important; }                                          /* Name.Namespace */
  .nt     { color: $name_tag !important; font-weight: bold !important; }                                          /* Name.Tag */
  .nx     { color: $name_other !Important; }
  //.bp     { color: #999999 }                                          /* Name.Builtin.Pseudo */
  //.vc     { color: #008080 }                                          /* Name.Variable.Class */
  .vg     { color: $solar-blue !important; }                                          /* Name.Variable.Global */
  .vi     { color: $solar-blue !important; }                                          /* Name.Variable.Instance */
  .nv     { color: $name !important; }                                          /* Name.Variable */
  //.w      { color: #bbbbbb }                                          /* Text.Whitespace */
  .mf     { color: $number !important; }                                          /* Literal.Number.Float */
  .m      { color: $number !important; }                                          /* Literal.Number */
  .mh     { color: $number !important; }                                          /* Literal.Number.Hex */
  .mi     { color: $number !important; }                                          /* Literal.Number.Integer */
  //.mo     { color: #009999 }                                          /* Literal.Number.Oct */
  .s      { color: $string !important; }                                             /* Literal.String */
  //.sb     { color: #d14 }                                             /* Literal.String.Backtick */
  //.sc     { color: #d14 }                                             /* Literal.String.Char */
  .sd     { color: $solar-cyan !important; }                                             /* Literal.String.Doc */
  .s2     { color: $solar-cyan !important; }                                             /* Literal.String.Double */
  .se     { color: $string_escape !important; }                                             /* Literal.String.Escape */
  //.sh     { color: #d14 }                                             /* Literal.String.Heredoc */
  .si     { color: $solar-blue !important; }                                             /* Literal.String.Interpol */
  //.sx     { color: #d14 }                                             /* Literal.String.Other */
  .sr     { color: $solar-cyan !important; }                                          /* Literal.String.Regex */
  .s1     { color: $solar-cyan !important; }                                             /* Literal.String.Single */
  //.ss     { color: #990073 }                                          /* Literal.String.Symbol */
  //.il     { color: #009999 }                                          /* Literal.Number.Integer.Long */
  div { .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }}
}

.highlight, .gist-highlight {
  pre { background: none; @include border-radius(none); border: none; padding: 0; margin-bottom: 0; }
  /*margin-bottom: 1.8em;*/
  background: $base03;
  overflow-y: hidden;
  overflow-x: auto;
}

$solar-scroll-bg: rgba(#fff, .15);
$solar-scroll-thumb: rgba(#fff, .2);

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .5em; background: $solar-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $solar-scroll-thumb;  -webkit-border-radius: 4px; border-radius: 4px }
}

.highlight code { @extend .pre-code;}
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
  pre { margin-bottom: 0; }
  figcaption {
    position: relative;
    @extend .code-title;
    a { @extend .download-source; }
  }
  .highlight {
    margin-bottom: 0;
  }
}

.code-title {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  @include border-top-radius(5px);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa image-url("code_bg.png") top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

.download-source {
  position: absolute; right: .8em;
  @include hover-link;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}

.line-number {
  display: block;
}

/*! Monokai */
.highlight, .ace_editor {
  background-color: #272822 !important;
  color: #F8F8F2 !important;
}

.pl-c            { color: #75715E !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #ae81ff !important; } /* constant */
.pl-cce          { color: #66D9EF !important; } /* constant.character.escape */
.pl-cn           { color: #66D9EF !important; } /* constant.numeric */
.pl-coc          { color: #66D9EF !important; } /* constant.other.color */
.pl-cos          { color: #E6DB74 !important; } /* constant.other.symbol */
.pl-e            { color: #A6E22E !important; } /* entity */
.pl-ef           { color: #A6E22E !important; } /* entity.function */
.pl-en           { color: #A6E22E !important; } /* entity.name */
.pl-enc          { color: #66D9EF !important; } /* entity.name.class */
.pl-enf          { color: #A6E22E !important; } /* entity.name.function */
.pl-enm          { color: #A6E22E !important; } /* entity.name.method-name */
.pl-ens          { color: #66D9EF !important; } /* entity.name.section */
.pl-ent          { color: #F92672 !important; } /* entity.name.tag */
.pl-entc         { color: #A6E22E !important; } /* entity.name.type.class */
.pl-enti         { color: #A6E22E !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #A6E22E !important; } /* entity.name.type.module */
.pl-eoa          { color: #F92672 !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #A6E22E !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #A6E22E !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #F92672 !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #F92672 !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #A6E22E !important; } /* entity.other.inherited-class */
.pl-k            { color: #66d9ef !important; } /* keyword */
.pl-ko           { color: #F92672 !important; } /* keyword.operator */
.pl-kolp         { color: #F92672 !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #66D9EF !important; } /* keyword.other.special-method */
.pl-kou          { color: #66D9EF !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #A6E22E !important; } /* support.function */
.pl-mb           { color: #E6DB74 !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #F92672 !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #66D9EF !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #F92672 !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #E6DB74 !important; } /* markup.list */
.pl-mm           { color: #A6E22E !important; } /* meta.module-reference */
.pl-mp           { color: #66D9EF !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #66D9EF !important; } /* meta.property-value support.function */
.pl-mq           { color: #66D9EF !important; } /* markup.quote */
.pl-mr           { color: #F92672 !important; } /* meta.require */
.pl-ms           { color: #F92672 !important; } /* meta.selector */
.pl-pdb          { color: #E6DB74 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #75715E !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #AE81FF !important; } /* punctuation.definition.constant */
.pl-pde          { color: #66D9EF !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #F92672 !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #E6DB74 !important; } /* punctuation.definition.string */
.pl-pdv          { color: #A6E22E !important; } /* punctuation.definition.variable */
.pl-pse          { color: #66D9EF !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #66D9EF !important; } /* punctuation.section.embedded source */
.pl-s            { color: #66d9ef !important; } /* storage */
.pl-s1           { color: #E6DB74 !important; } /* string */
.pl-s2           { color: #F8F8F2 !important; } /* source */
.pl-mp .pl-s3    { color: #66D9EF !important; } /* support */
.pl-s3           { color: #F92672 !important; } /* support */
.pl-sc           { color: #FD971F !important; } /* support.class */
.pl-scp          { color: #AE81FF !important; } /* support.constant.property-value */
.pl-sf           { color: #FD971F !important; } /* support.function */
.pl-smc          { color: #A6E22E !important; } /* storage.modifier.c */
.pl-smi          { color: #FD971F !important; } /* storage.modifier.import */
.pl-smp          { color: #FD971F !important; } /* storage.modifier.package */
.pl-sok          { color: #F92672 !important; } /* support.other.keyword */
.pl-sol          { color: #E6DB74 !important; } /* string.other.link */
.pl-som          { color: #A6E22E !important; } /* support.other.module */
.pl-sr           { color: #A6E22E !important; } /* string.regexp */
.pl-sra          { color: #F92672 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-src          { color: #F92672 !important; } /* string.regexp.character-class */
.pl-sre          { color: #F92672 !important; } /* string.regexp source.ruby.embedded */
.pl-st           { color: #66d9ef !important; } /* support.type */
.pl-stj          { color: #F8F8F2 !important; } /* storage.type.java */
.pl-stp          { color: #66D9EF !important; } /* support.type.property-name */
.pl-sv           { color: #66D9EF !important; } /* support.variable */
.pl-v            { color: #66D9EF !important; } /* variable */
.pl-vi           { color: #66D9EF !important; } /* variable.interpolation */
.pl-vo           { color: #A6E22E !important; } /* variable.other */
.pl-vpf          { color: #66D9EF !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #A6E22E !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht         { color: #A6E22E !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md           { color: #f92672 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf         { color: #f92672 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #66D9EF !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #A6E22E !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #A6E22E !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #A6E22E !important; } /* invalid.broken */
.pl-id           { background-color: #A6E22E !important; color: #fff !important; } /* invalid.deprecated */
.pl-ii           { background-color: #A6E22E !important; color: #fff !important; } /* invalid.illegal */
.pl-iu           { background-color: #A6E22E !important; } /* invalid.unimplemented */
.pl-mo           { color: #FD971F !important; } /* meta.output */
.pl-mri          { color: #66D9EF !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #FD971F !important; } /* meta.separator */
.pl-va           { color: #66D9EF !important; } /* variable.assignment */
.pl-vpu          { color: #66D9EF !important; } /* variable.parameter.url */
.pl-entl         { color: #FD971F !important; } /* entity.name.tag.label */

/* monokai */
.ace_editor .ace_gutter {
  background: #2F3129 !important;
  color: #8F908A !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #555651 !important;
}

.ace_editor .ace_cursor {
  color: #F8F8F0 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #49483E !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #49483E !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #202020 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #272727 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483E !important;
}

.ace_editor .ace_invisible {
  color: #52524d !important;
}

.ace_editor .ace_entity.ace_name.ace_tag,
.ace_editor .ace_keyword,
.ace_editor .ace_meta.ace_tag,
.ace_editor .ace_storage {
  color: #F92672 !important;
}

.ace_editor .ace_punctuation,
.ace_editor .ace_punctuation.ace_tag {
  color: #fff !important;
}

.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_language,
.ace_editor .ace_constant.ace_numeric,
.ace_editor .ace_constant.ace_other {
  color: #AE81FF !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F0 !important;
  background-color: #F92672 !important;
}

.ace_editor .ace_invalid.ace_deprecated {
  color: #F8F8F0 !important;
  background-color: #AE81FF !important;
}

.ace_editor .ace_support.ace_constant,
.ace_editor .ace_support.ace_function {
  color: #66D9EF !important;
}

.ace_editor .ace_fold {
  background-color: #A6E22E !important;
  border-color: #F8F8F2 !important;
}

.ace_editor .ace_storage.ace_type,
.ace_editor .ace_support.ace_class,
.ace_editor .ace_support.ace_type {
  font-style: italic !important;
  color: #66D9EF !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_entity.ace_other,
.ace_editor .ace_entity.ace_other.ace_attribute-name,
.ace_editor .ace_variable {
  color: #A6E22E !important;
}

.ace_editor .ace_variable.ace_parameter {
  font-style: italic !important;
  color: #FD971F !important;
}

.ace_editor .ace_string {
  color: #E6DB74 !important;
}

.ace_editor .ace_comment {
  color: #75715E !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y !important;
}
